<section class="about" id="about">
	<div class="container">
		<h2 class="section-title">
			About
			<span>Us</span>
		</h2>

		<p class="about-subtitle">
			We are dedicated to providing engaging and effective English language courses in a supportive and stimulating
			learning environment
		</p>

		<ol class="about-list">
			<li class="about-list-card">
				<p>Expert, innovative teaching staff</p>
			</li>
			<li class="about-list-card">
				<p>Wide range of course levels and options</p>
			</li>
			<li class="about-list-card">
				<p>Multicultural learning environment</p>
			</li>
			<li class="about-list-card">
				<p>Comprehensive language support services</p>
			</li>
			<li class="about-list-card about-list-card--photo">
				<img src="img/webp/about-photo.webp" srcset="
						img/webp/about-photo.webp 1x,
						img/webp/about-photo@2x.webp 2x" alt="Smiling teacher" width="254" height="211">
			</li>
		</ol>
	</div>
</section>