<section id="application-proposal" class="section">
  <div class="app-prop-container container">
    <div class="app-prop-content">
      <h2 class="app-prop-title">
        Master the
        <span class="app-prop-title-highlight">Language</span> with Our English
        Package!
      </h2>
      <div class="app-prop-card first"></div>
      <div class="app-prop-card second"></div>
      <div class="app-prop-card face">
        <h3 class="app-prop-card-title">Power of English</h3>
        <ul class="app-prop-card-list">
          <li class="app-prop-card-list-item">
            <div class="app-prop-card-list-item-icon-box">
              <svg class="app-prop-card-list-item-icon">
                <use href="./img/icons.svg#check-icon"></use>
              </svg>
            </div>
            <p class="app-prop-card-list-item-text">
              Dive into captivating lessons designed to stimulate your
              curiosity.
            </p>
          </li>
          <li class="app-prop-card-list-item">
            <div class="app-prop-card-list-item-icon-box">
              <svg class="app-prop-card-list-item-icon">
                <use href="./img/icons.svg#check-icon"></use>
              </svg>
            </div>
            <p class="app-prop-card-list-item-text">
              Learn in a nurturing setting where every student's progress
              matters.
            </p>
          </li>
          <li class="app-prop-card-list-item">
            <div class="app-prop-card-list-item-icon-box">
              <svg class="app-prop-card-list-item-icon">
                <use href="./img/icons.svg#check-icon"></use>
              </svg>
            </div>
            <p class="app-prop-card-list-item-text">
              Experience the satisfaction of real progress as your language
              skills and confidence grow with every session.
            </p>
          </li>
        </ul>
        <a href="#application" class="btn" type="button">
          Leave an application
        </a>
      </div>
    </div>
    <img
      class="app-prop-books-image"
      src="./img/books.png"
      srcset="./img/books.png 1x, ./img/books@2x.png 2x"
      alt="tall stack of books"
      width="214"
      height="263"
    />
  </div>
</section>
