<header id="header" class="header">
  <div class="container">
    <nav class="header-nav">
      <a class="header-logo" href="#">
        english<span class="header-logo-span">excellence</span>.
      </a>
      <ul class="header-menu">
        <li>
          <a class="header-menu-link" href="#about">About us</a>
        </li>
        <li>
          <a class="header-menu-link" href="#lessons">Our lessons</a>
        </li>
        <li>
          <a class="header-menu-link" href="#teachers">Teachers</a>
        </li>
        <li>
          <a class="header-menu-link" href="#reviews">Reviews</a>
        </li>
        <li>
          <a class="header-menu-link" href="#footer">Contact us</a>
        </li>
      </ul>
      <ul class="header-social-list">
        <li>
          <a
            class="header-social-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg class="header-social-icon" width="28" height="28">
              <use href="./img/icons.svg#facebook-icon"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="header-social-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="header-social-icon" width="28" height="28">
              <use href="./img/icons.svg#instagram-icon"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="header-social-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="header-social-icon" width="28" height="28">
              <use href="./img/icons.svg#youtube-icon"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <svg class="header-menu-icon mobile" width="32" height="32">
      <use href="./img/icons.svg#mobile-menu-icon"></use>
    </svg>
    <svg class="header-menu-icon tablet" width="40" height="28">
      <use href="./img/icons.svg#tablet-menu-icon"></use>
    </svg>
  </div>
</header>
