<section id="hero" class="section hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      Discover the joy of learning
      <span class="hero-accent">English</span> with us!
    </h1>

    <a href="#application" class="hero-button">Leave an application</a>

    <a href="#footer" class="hero-scroll" aria-label="ContactUs">
      <svg width="24" height="24" class="hero-scroll-icon">
        <use href="./img/icons.svg#arrow-down-icon"></use>
      </svg>
    </a>
  </div>
</section>
