<section class="lessons">
    <div class="container">
        <div class="lessons-top">
            <h2 class="lessons-title">Our lessons
                <span class="highlighted">lessons</span>
            </h2>
            <p class="lessons-text">Our lessons are carefully structured and interactive, designed to promote rapid
                language acquisition through practical tasks and real-world scenarios</p>
        </div>

        <div class="lessons-cards">
            <div class="lessons-item">
                <h3 class="lessons-item-subtitle">Practice</h3>
                <h2 class="lessons-item-title">40$ / month</h2>
                <p class="lessons-item-text">This plan offers an opportunity for learners to engage in collaborative
                    language exercises and group activities, boosting their conversational skills and confidence in
                    using English.</p>
                <button class="lessons-button">Leave an application</button>
            </div>

            <div class="lessons-item">
                <h3 class="lessons-item-subtitle">Standard</h3>
                <h2 class="lessons-item-title">70$ / month</h2>
                <p class="lessons-item-text">Our standard package provides a balanced learning approach that covers
                    all key areas of English language - reading, writing, listening, and speaking. It is a set of
                    basic knowledge and skills.</p>
                <button class="lessons-button">Leave an application</button>
            </div>

            <div class="lessons-item">
                <h3 class="lessons-item-subtitle">Individual</h3>
                <h2 class="lessons-item-title">99$ / month</h2>
                <p class="lessons-item-text">We offer a tailored learning experience with individualized instruction
                    that focuses on a learner's specific language goals and challenges, offering personal feedback.
                </p>
                <button class="lessons-button">Leave an application</button>
            </div>
        </div>
    </div>
</section>