<div id="mobile-menu-overlay" class="mobile-menu-overlay">
   <div id="mobile-menu" class="mobile-menu-container" >
      <button type="button" class="menu-close" data-menu-close aria-label="Close menu">
         <svg class="modal-close-icon" width="32" height="32" stroke="#fff">
            <use href="./img/icons.svg#cross-icon"></use>
         </svg>
      </button>
      <nav>
         <ul class="menu-nav">
            <li><a class="menu-nav-link" href="#about">About us</a></li>
            <li><a class="menu-nav-link" href="#lessons">Our lessons</a></li>
            <li><a class="menu-nav-link" href="#teachers">Teachers</a></li>
            <li><a class="menu-nav-link" href="#reviews">Reviews</a></li>
            <li><a class="menu-nav-link" href="#footer">Contact us</a></li>
         </ul>
      </nav>
      <ul class="menu-socials">
         <li>
            <a class="menu-social-icon" href="https://www.facebook.com/goITclub/" target="_blank">
               <svg fill="#fff" width="26" height="26">
                  <use href="./img/icons.svg#facebook-icon"></use>
               </svg>
            </a>
         </li>
         <li>
            <a class="menu-social-icon" href="https://www.instagram.com/goitclub/" target="_blank">
               <svg fill="#fff" width="26" height="26">
                  <use href="./img/icons.svg#instagram-icon"></use>
               </svg>
            </a>
         </li>
         <li>
            <a class="menu-social-icon" href="https://www.youtube.com/c/GoIT" target="_blank">
               <svg fill="#fff" width="26" height="26">
                  <use href="./img/icons.svg#youtube-icon"></use>
               </svg>
            </a>
         </li>
      </ul>
   </div>
</div>