<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">What our <span>students</span> say</h2>

    <p class="reviews-subtitle">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>

    <ul class="review-list">
      <li class="review-list-card">
        <div class="card-item">
          <svg width="50" height="50" class="card-icon">
            <use href="./img/icons.svg#anna-icon"></use>
          </svg>
          <div class="review-card-user">
            <p class="review-card-name">Anna</p>
            <p class="review-card-role">Student</p>
          </div>
        </div>
        <p class="review-card-text">
          My experience at the language school has been nothing short of
          amazing. The teachers are dedicated and the learning environment is
          stimulating. I feel more confident in my English skills.
        </p>
      </li>
      <li class="review-list-card">
        <div class="card-item">
          <svg width="50" height="50" class="card-icon">
            <use href="./img/icons.svg#mykhailo-icon"></use>
          </svg>
          <div class="review-card-user">
            <p class="review-card-name">Mykhailo</p>
            <p class="review-card-role">Student</p>
          </div>
        </div>
        <p class="review-card-text">
          The school offers a great balance of language theory and practical
          exercises. The personalized feedback from the teachers has helped me
          improve my weak areas.
        </p>
      </li>
      <li class="review-list-card">
        <div class="card-item">
          <svg width="50" height="50" class="card-icon">
            <use href="./img/icons.svg#victoria-icon"></use>
          </svg>
          <div class="review-card-user">
            <p class="review-card-name">Victoria</p>
            <p class="review-card-role">Student</p>
          </div>
        </div>
        <p class="review-card-text">
          I love the dynamic and interactive teaching methods used here. It's a
          great place to learn English in a fun and effective way. I have
          definitely seen a big improvement in my language skills.
        </p>
      </li>
    </ul>
  </div>
</section>
