:root {
  --color-green: #4DC274;
  --color-light-green: #D4FDE1;
  --color-linear-start: #4DC274;
  --color-linear-end: #BEE8CC;
  --color-black: #121417;
}

body {
    font-family: 'Manrope', sans-serif;
    color: var(--color-black);
    background-color: #FFF;
}