.header > .container {
  display: flex;
}

.header-logo {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.35;
  color: #121417;
}

.header-logo-span {
  color: #4dc274;
}

.header-menu-icon {
  margin: auto 0 auto auto;
}

.header-menu-icon {
  stroke: black;
}

@media (max-width: 767.5px) {
  .header-menu-icon.tablet {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1199.5px) {
  .header-menu-icon.mobile {
    display: none;
  }
}
