.lessons {
    padding: 150px 0;
}


.lessons-title {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #121417;
}

.highlighted {
    position: relative;
}

.highlighted::after {
    content: '';
    position: absolute;
    border-radius: 8px;
    width: 144px;
    height: 20px;
    background-color: #bee8cc;
    z-index: -1;
    left: 0;
    bottom: 0;
}

.lessons-text {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    text-align: center;
    color: rgba(18, 20, 23, 0.5);
    max-width: 665px;
    margin: 0 auto;
}

.lessons-top {

    margin-bottom: 64px;
}

.lessons-cards {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.lessons-item {
    box-sizing: border-box;
    border: 1px solid var(--color-green);
    border-radius: 30px;
    text-align: center;
    padding: 32px;
    min-height: 404px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 335px;
}

.lessons-item:hover {
    background-color: var(--color-green);
    transition: 0.3s ease;
}

.lessons-item:hover .lessons-item-subtitle {
    color: var(--color-white);
}

.lessons-item:hover .lessons-item-title {
    color: var(--color-white);
}

.lessons-item:hover .lessons-item-text {
    color: var(--color-white);
}


.lessons-item:hover .lessons-button {
    border: 1px solid #FFFFFF66

}

.lessons-item-subtitle {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--color-black);
    margin-bottom: 16px;
}

.lessons-item-title {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 138%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--color-black);
    margin-bottom: 16px;
}

.lessons-item-text {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: rgba(18, 20, 23, 0.5);
    margin-bottom: 32px;
}

.lessons-button {
    display: inline-block;
    margin-top: auto;
    border-radius: 12px;
    padding: 16px 39px;
    background: var(--color-green);
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    color: var(--color-white);
    border: 1px solid #FFFFFF66;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .lessons-cards {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
    }

    .lessons-item {
        flex: 0 0 336px;
        max-width: 336px;
    }
}

@media screen and (min-width: 1280px) {
    .lessons-cards {
        flex-wrap: nowrap;
    }

    .lessons-item {
        flex-basis: 320px;
        max-width: 320px;
    }
}
