.mobile-menu-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transform: translateX(100%);
    transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    padding-left: 79px;
    padding-right: 79px;
    max-width: 240px;
    height: 100%;
    margin-left: auto;
    margin-right: 0;
    background-color: var(--color-green)
}

.menu-close {
    display: flex;
    position: absolute;
    border: 0;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    background-color: var(--color-green);
}

.menu-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.menu-bottom {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: auto;
}

.menu-nav-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0em;
    color: #fff;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-social-icon {
    display: block;
    padding: 8px;
    width: 40px;
    height: 40px;
    border: 1px solid #FFFFFF1A
}

.menu-socials {
    display: flex;
    gap: 12px;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
}

@media screen and (min-width: 768px) {
    .mobile-menu-container {
        max-width: 384px;
        padding-left: 150px;
        padding-right: 150px;
    }
    .menu-close {
        width: 40px;
        height: 40px;
    }
    .modal-close svg {
        height: 100px;
        width: 100px;
    }
}

@media screen and (min-width: 1280px) {
    .mobile-menu-overlay {
        display: none;
    }
}

